<div class="row">
  <h3 class="col s1 teal white-text" style="text-align:center">{{label}}</h1>
  <div class="input-field col s1"><input move-next-on-maxlength class="validate" minlength="2" maxlength="2" min="1" ng-max="maxWhite" type="number" ng-model="numbers[0]"></div>
  <div class="input-field col s1"><input move-next-on-maxlength class="validate" minlength="2" maxlength="2" min="1" ng-max="maxWhite" type="number" ng-model="numbers[1]"></div>
  <div class="input-field col s1"><input move-next-on-maxlength class="validate" minlength="2" maxlength="2" min="1" ng-max="maxWhite" type="number" ng-model="numbers[2]"></div>
  <div class="input-field col s1"><input move-next-on-maxlength class="validate" minlength="2" maxlength="2" min="1" ng-max="maxWhite" type="number" ng-model="numbers[3]"></div>
  <div class="input-field col s1"><input move-next-on-maxlength class="validate" minlength="2" maxlength="2" min="1" ng-max="maxWhite" type="number" ng-model="numbers[4]"></div>
  <div class="input-field col s1 red darken-4"><input move-next-on-maxlength class="validate" minlength="2" maxlength="2" min="1" ng-max="maxRed" type="number" ng-model="numbers[5]"></div>
</div>