<div class="check layout-content">
  <h2>check</h2>
  <h4 ng-if="!jackpot" class="winnings">{{payout | currency}}</h4>
  <h4 ng-if="jackpot" class="winnings">JACKPOT</h4>
  <md-checkbox flex ng-checked="powerplay" ng-click="setPowerPlay(selected)">powerplay</md-checkbox>
  <winner winner="winner"></winner>
  <div layout="column">
    <board label="A" on-check="onCheck" powerplay="powerplay"></board>
    <board label="B" on-check="onCheck" powerplay="powerplay"></board>
    <board label="C" on-check="onCheck" powerplay="powerplay"></board>
    <board label="D" on-check="onCheck" powerplay="powerplay"></board>
    <board label="E" on-check="onCheck" powerplay="powerplay"></board>
  </div>
</div>