@import 'http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css';

.board .md-fab input {
  margin-top: 12px;
  margin-left: 5px;
  text-align:center;
  color: inherit;
  padding:0;
}

.powerplay {
  font-weight: bold;
  font-size: small;
}

h3, .date {
  text-align:center!important;
}

.layout-content {
  max-width: 864px;
  margin: 16px;
  box-sizing: border-box;
}