@import 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css';

.winners .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vw;
  width: 8vw;
  border-radius:  50%;
  border: 1px solid #000;
  margin: 1vw;
}